* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d4f1ff;
}

#wrap {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  margin-top: 15px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, .15);
}

.title {
  margin: 0;
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d44747;
  color: #d44747;
}

.sub-heading {
  font-size: 18px;
}

.laptop-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}

.controls {
  text-align: center;
}

.button {
  background-color: #13b3a5;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  min-width: 40px;
  border: none;
  outline: 0;
  transition: .15s ease-out;
  cursor: pointer;
  user-select: none;
}

.button:disabled {
  pointer-events: none;
  background-color: #ccc;
}

.button:hover {
  background-color: #14837a;
}

.laptop-select {
  width: 100px;
  display: block;
  margin: auto;
  padding: 5px;
}

.requirement {
  border: 1px solid #03b8ff;
  padding: 15px;
  margin-top: 30px;
  background-color: #f4fcff;
  border-radius: 5px;
}